@use '../index.scss' as idx;

.PageNotFound {
  display: grid;
    place-content: center;

  height: 100vh;

  h1 {
    font-size: 16rem;
    line-height: 16rem;
    color: idx.$secondary-grey;
  }

  h2 {
    font-size: 2.4rem;
    line-height: 2.4rem;
    color: idx.$secondary-grey;
  }

  .Button {
   margin-block-start: 1.6rem; 
  }
  .Button__text {
    font-size: 1.8rem;
  }

  .PageNotFound__content {
    display: flex;
      flex-direction: column;
      align-items: center;

  }
}
