@use '../../index.scss' as idx;

.BackButton {
  width: 3.5rem;
    padding: .4rem;
 
  background: rgba(idx.$main-bg, .8);
    border-radius: 50%;

  &:hover {
    cursor: pointer;
  }
}

.BackButton__arrow-wrapper {
  
  width: 100%;
  height: 100%;
}

.BackButton__arrow {
  transform: rotate(90deg);
  filter: invert(25%) sepia(97%) saturate(6703%) hue-rotate(337deg) brightness(82%) contrast(112%);
  height: 100%;
  width: 100%;
}
