@import '../../App.scss';
@use 'sass:math';
$size: 3.5rem;

.HamburguerMenu {
  width: $size;
    height: $size;
  border: 1px solid $secondary-red;

  &:hover{
    cursor: pointer;
  }

  .HamburguerMenu-bar {
    background: $secondary-red;
    height: math.div( 6rem, 2rem);
  }
}
