@use 'sass:math';
@use '../../index.scss' as idx;
$size: 3.5rem;

.HamburguerMenu {
  display: flex;
    flex-direction: column;
    justify-content: space-between;

  width: $size;
    height: $size;

  &:hover{
    cursor: pointer;
  }

  .HamburguerMenu-bar {
    background: idx.$secondary-red;
    height: math.div( $size, 5);
    width: 100%;
    
  }
}
