@use '../../index.scss' as idx;

.css-cveggr-MuiListItemIcon-root {
 display: none !important;
}



//media queries
@media (min-width: idx.$bp-large){
  .MuiList-padding{
    background: idx.$main-bg;
      box-shadow: .1rem .3rem 1.6rem black;
  }
}
