@use './Card.scss' as card;
@use '../index.scss' as idx;

%content-delimiter {
    position: absolute;
    z-index  : 1100;
    top: 0;
    bottom: 0;

  width: 3rem;
    height: 100%;

  pointer-events   : none;
  
}

.Carousel {
  margin-block: 2.4rem;

  .Link {
    align-self: flex-end;
  }
}

.Carousel__main-content {
  width: 100%;
  height: 100%;
  position: relative;
  background: transparent;
}

.content-on-left {
  @extend %content-delimiter;
  display: none;
    left: -.1rem;

}

.content-on-right {
  @extend %content-delimiter;
    right: -.1rem;
}

.Carousel__header {
  display: flex;
    justify-content: space-between;

}

.Carousel__show-more-button {
  display: flex;
    justify-content: right;


}

.cards-container {
  position: relative;
  display: flex;
    gap: 1.2rem;
  overflow-x: scroll;
  overflow-y: visible;

  color: idx.$just-white;
}

.cards-container--grid {
  display: grid;
    grid-template-columns: repeat(auto-fill, minmax(card.$card-width--poster, 1fr));
    gap: 1.2rem;
}

.no-coincidence {
  display: grid;
    place-content: center;

  width: 100%;
    min-height: 13.9rem;

  background-color: transparent;
  color: idx.$secondary-grey;

}
