@use '../index.scss' as idx;

.Menu {
  position: fixed;
    z-index: 1200;
  width: 80vw;
  height: 100vh;

  top: 0;
  left: -(100%);

  padding: 2.4rem;

  background: idx.$main-bg;
  opacity: .989;



  transition: left .4s linear;
}
  .Menu--active {
    left: 0;

    box-shadow: .6rem .6rem 1.6rem black;
  }

.Menu__ul {
  margin-block-start: 2.4rem;
  width: max-content;

  list-style: none;

  .Menu__li {
    margin-block: 2.4rem;

  }
}

.Menu__language {
  margin-block-start: 4.4rem;
}

.Menu__link {
  text-decoration: none;
  color: idx.$just-white;
}
