@use '../index.scss' as idx;

.searchbar {
  display: flex;

  padding-inline: .8rem;
    height: 100%;

  background: idx.$secondary-grey;
    border-radius: .4rem;

  .material-symbols-outlined {
    align-self: center;
    cursor: pointer;
  }
}


.searchbar_text-field {
  background: transparent;
    border: none;
    color: idx.$just-white;

  &:focus {
    outline: none;
  }
}
