@use './index.scss' as idx;
@use './Components/Miscellaneous/HamburguerMenu.scss' as hb;


/* Icons design */
.material-symbols-outlined {
  color: idx.$secondary-red;   
}
//

.App {
  /*
  position: relative;
*/
  padding: 0 2.4rem;
}

.App-nav {
  display: flex;
    justify-content: space-between;

    margin-block-start: 2.4rem;
    height: hb.$size;


  .HamburguerMenu {
  }

}

.Page-padded {
  padding-inline: 2.4rem;
}


