/* Color-styles */
  $main-bg: #171717;
  $secondary-grey: #444444;
  $secondary-red: #DA0037;
  $just-white: #FFFFFF;




/* Icons design */
.material-symbols-outlined {
  color: $secondary-red;   
}
