@import './normalize.css';
@import './App.scss';
$font-stack: 'DM Sans', sans-serif;
$font-size: 62.5%;

html {
  font-size: $font-size;
}

body {
  font-family: $font-stack;
    font-size: 1.6rem;
    color: $just-white;

   background: $main-bg;
}

h1 {
  font-size: 2.4rem;
    line-height: 2.6rem;
}

h2 {
  font-size: 1.4rem;
    line-height: 1.8rem;
}
