@use './normalize.scss';



/* Font-styles */
  $font-stack: 'DM Sans', sans-serif;
  $font-size: 62.5%;




/* Color-styles */
  $main-bg: #171717;
  $secondary-grey: #444444;
  $secondary-red: #DA0037;
  $just-white: #FFFFFF;


:export{
  secondaryGrey: $secondary-grey;
  secondaryRed: $secondary-red;
  mainBg: $main-bg;
  white: $just-white;
}


html {
  font-size: $font-size;
}

body {
  font-family: $font-stack;
    font-size: 1.6rem;
    color: $just-white;


  background: $main-bg;
}

h1 {
  font-size: 2.4rem;
    line-height: 2.6rem;
}

h2 {
  font-size: 1.4rem;
    line-height: 1.8rem;
}


.Link {
  text-decoration: none;
  color: $just-white;
}

.inactive {
  display: none;
}

