.Skeleton {
  margin-block: .8rem;
}

.Skeleton__info-header,
.Skeleton__info-rate,
.Skeleton__info-overview {
  margin-block: 2rem;
  :nth-child(1){
    margin-block: .4rem;
  }
}

.Skeleton__info-header,
.Skeleton__info-rate {
  display: flex;
  flex-direction: column;
  align-items: center;
}

